body{
    background-image: url("luffy.jpg");
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: 350px 280px;
    margin-left: 300px;
    margin-top: 500px;
}
h1{
    margin-left: 300px;
    margin-top: 10%;
}