*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.z {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 0;
}
.logo{
    margin-left: 20px;
}
.a {
    margin-left: 900px;
    list-style: none;
    display: flex;
}
.a li {
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
}
body {
    font-family: sans-serif;
    background-color: rgb(17, 16, 16);
}
.a li:hover{
    transform: scale(1.05);
    color: #00ffff;
    text-shadow: 0 0 5px #00ffff, 
}
#A:hover{
    transform: scale(1.2);
    color:#1877F2;
    text-shadow:  
        0 0 10px #1877F2, 
        0 0 20px #1877F2, 
        0 0 40px #1877F2; 
}
#B:hover{
    transform: scale(1.2);
    color:#1DA1F2;
    text-shadow:  
    0 0 10px #1DA1F2, 
    0 0 20px #1DA1F2, 
    0 0 40px #1DA1F2; 
}
#C:hover{
    transform: scale(1.2);
    color:#ff0000;
    text-shadow:  
    0 0 10px #ff0000, 
    0 0 20px #ff0000, 
    0 0 40px #ff0000; 
}



.wrapper {
    padding: 0px 10px; 
}
.card-area {
    padding: 5px 0;
}
.box-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 5px;
}
.box {
    border-radius: 10px;
    position: relative;
    overflow: hidden; 
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000; 
}
.box img {
    width: 100%;
    height: 200px; /* rectangle shape */
    object-fit: cover;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s;
}
.overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    opacity: 0;
    transition: height 0.5s;
}
.overlay h2 {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 2px;
}
.box:hover img {
    transform: scale(1.2);
}
.box:hover .overlay {
    height: 100%;
    opacity: 1;
    box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff, 0 0 60px #00ffff;
}


.image img{
    width: 400px;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s;
    margin-right: 10px;
    margin-top: 30px;
    float: right;
    
}
.image h2{
    padding-top: 60px;
    text-align: center;
    color: white;
}
.image p{
    padding-top: 30px;
    text-align: center;
    color: white;
}
.image img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000; 
}

.last{
    margin-top: 60px;
    height: 90px;
    background-color: rgb(41, 41, 41);
    text-align: center;
    padding: 20px;
    color: white;
}