.container{
    margin-left: 200px;
    margin-top: 90px;
}
.image img{
    float: left;
    width: 600px;
    height: 300px;
}
.image h1{
    color: red;
    padding: 40px;
}
.image p{
    padding-right: 100px;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 30px;
}
.box1{
    background-color: rgb(31, 233, 31);
    width: 300px;
    flex: 1;
    height: 200px;
    padding-right: 10px;
    padding-top: 40px;
    color: white;
    text-align: center;
}
.box2{
    background-color: rgb(236, 236, 11);
    flex: 1;
    width: 300px;
    padding-right: 10px;
    padding-top: 40px;
    color: white;
    text-align: center;
}
.box3{
    flex: 1;
    background-color: rgb(9, 214, 241);
    width: 300px;
    padding-right: 10px;
    padding-top: 40px;
    color: white;
    text-align: center;
    margin-right: 90px;
}
