body{
    background-color: white;
}
h1{
    font-family: 'Times New Roman';
    color: forestgreen;
    margin-left: 230px;
    margin-top: 100px;
}
table{
    margin-left: 40px;
    text-align: center;
}
.l{
    writing-mode: vertical-rl;
    transform: rotate(360deg);
    text-orientation: upright
    
}
.container{
    background-color: aqua;
    width: 840px;
    margin-left: 300px;
    height: 280px;
}